*{
    margin: 0;
}
.Welcome{
    height: 95vh;
    background-image: url('./image/images\ \(4\).jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.Welcome h1{
    text-align: center;
    font-size: 70px;
    color: whitesmoke;
    padding-top: 80px;
}
h1{
    text-align: center;
}
.nav-link{
    display: flex;
    background-color: brown;
    justify-content: space-between;
    padding: 30px;

}
.nav-link ul{
    display: flex;
    list-style: none;
    font-size: large;
    font-weight: 700;
    justify-content: space-between;
    margin-right: 20px;
    
}
input{
    border-radius: 1cm;
    height: 0.5cm;
}
li{
    margin-left: 120px;
    text-align: left;
    padding: 1px;
}
.heading h3{
    color: purple;
    text-align: center;
}
.container {
    background-color: antiquewhite;
    padding: 25px;
    text-align: center;
    margin: 2%;
    background-size: cover;
    
}

.container input{
    margin: 10px;
    justify-content: space-between;
    font-size: large;
}
.container button{
    color: blue;
    float: right;
    font-size: large;
    
    
}
